<% @tmpID = 'about' %>

<div id="page_content">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>About</h2>
        <p>David Sang</p>
        <p>
            <a class="about_link" href="mailto:enterme3q@gmail.com?subject=feedback" "enterme3q@gmail.com" target="_blank">enterme3q@gmail.com</a>
        </p>
        <p>
            <a class="about_link" href="https://github.com/enterme3q/tw_web_tv_news" target="_blank">GitHub</a>
        </p>
    </div>
</div>