<% @tmpID = 'contact' %>

<div id="page_content">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Contact</h1>
        <p>David Sang</p>
        <a href="mailto:enterme3q@gmail.com?subject=feedback" "enterme3q@gmail.com">enterme3q@gmail.com</a>
    </div>
</div>