<% @tmpID = 'index' %>

<div id="page_content">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>台灣網路新聞直播</h1>
        <p>Makes you watch news easier.</p>
    </div>

    <div id="news_wrapper" class="row">
        <p class="desc_title col-md-12">(以下按照英文名排序)</p>
    </div>
</div>