<% @tmpID = 'index' %>

<div id="page_content">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>台灣網路新聞直播</h1>
        <p>Makes you watch news easier.</p>
    </div>
    <div id="channel_selector" class="row">
        <p class="desc_title">請選擇您想收看的新聞台 (以下按照英文名排序)</p>
        <div id="selector_inner" class="row"></div>
        <a href="javascript:void(0);" id="search_channel" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 btn btn-info">看新聞 GO</a>
    </div>

    <div id="news_wrapper" class="row">
    </div>
</div>